header {
    background-color: #2a6592;
    color: #fff;
    padding: 20px;
    font-size: 28px;
    text-align: center;
    position: fixed;
    min-width: auto;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 96%;
}

body {
    background-color: #eee;
}

.fa {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.show-cart-icon {
    margin: 10px;
}

.overlay {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.content {
    position: fixed;
    top: 67px;
    width: 100%;
}

.popup {
    margin: 70px auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    width: 38%;
    position: relative;
    overflow: hidden;
}

.width-70 {
    width: 70%;
    display: inline-block;
    float: left;
    background-color: #fff;
    margin: 25px 15px;
    border-radius: 3px;
}

.width-30 {
    width: 24%;
    display: inline-block;
    background-color: #fff;
    margin: 25px 0px;
    border-radius: 3px;
}

.item-card {
    max-width: 230px;
    min-width: 200px;
    width: 30%;
    height: 255px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.25);
    display: block;
    overflow: hidden;
}

.item-img-block {
    position: relative;
    border-radius: 0.25rem;
}

.item-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 100%;
}

.overlay-img {
    display: none;
    color: white;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.add-cart-icon {
    background: transparent;
    color: white;
    width: 60%;
    margin: 0 14px;
    /* height: 40px; */
    font-size: 16px;
    padding: 4px;
    margin: 70px 40px;
    cursor: pointer;
}


.item-img:hover ~ .overlay-img {
    display: block;
}

.overlay-img:hover {
    display: block;
}

.item-content {
    padding-left: 7px;
    float: left;
    width: 93%;
}

.item-title {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}

.item-category {
    margin-bottom: 8px;
    color: #444;
}

.item-card:hover .add-cart {
    display: block;
}

.fa-cart-plus {
    font-size: 20px;
}

.cart-icon {
    background-color: #3c763d;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
}


.item-list {
    padding: 0px;
}

.item-pend-card {
    overflow: hidden;
    margin: 2.5px 0;
    padding: 11px 10px;
    width: 95%;
    /*height: 25px;*/
    border-bottom: 1px solid #eee;
}

.item-pend-title {
    font-size: 18px;
    float: left;
    width: 55%;
}
.item-pend-heading{
    width: 100%;
    overflow: hidden;
}

.item-pend-content{
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.item-label {
    color: #888;
}

.item-pend-heading:hover ~ .item-pend-content{
    max-height: fit-content;
    margin-top: 5px;
    transition: 0.5s;
}

.item-pend-content:hover {
    max-height: fit-content;
    margin-top: 5px;
}

.items {
    padding: 0;
    margin-top:2px;
}

.item-pend-time {
    text-align: right;
    margin-right: 10px;
    width: 15%;
    float: left;
}

.pend-btns {
    border: none;
    font-size: 14px;
    float: left;
}

.update-item-pend:hover .item-pend-card{
    height: 50px;
}

h2 {
    margin-left: 15px;
}

ul{
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}


.order {
    width: 90%;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
    margin: 5px 0;
}

.pend {
    background-color: #d9edf7;
    border-color: #31708f;
}

.comp {
    background-color: #dff0d8;
    border-color: #3c763d;
}

.ordered-by{
    width: 35%;
    float: left;
}

.vertical-center-margin {
    margin: 37px 0;
}


.admin-pg-qty{
    width: 10%;
    float: left;
}

.time {
    width: 10%;
    float: left;
    text-align: center;
}

.status {
    width: 25%;
    float: left;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.usr-img {
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
    border-radius: 50px;
    background-image: url("https://image.flaticon.com/icons/svg/17/17004.svg") ;
    background-size: cover;
}

.usr-details {
    margin: 30px 10px;
    float: left;
}

.username {
    font-size: 20px;
}

.status-btn {
    width: 73%;
    height: 30px;
    font-size: 17px;
    margin: 30px 0 2px 0;
    color: #fff;
    border: none;
}

.status-pend {
    color: #31708f;
}

.status-complete {
    color: #3c763d;
}

.show-cart {
    float: right;
    background-color: transparent;
}

.popup-content {
    max-height: 50px;
}

.order-list {
    display: block;
    padding: 0;
}

.cart-item {
    font-size: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 5px;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    float: left;
}

.cart-item-title {
    float: left;
    width: 30%;
    text-align: center;
}

.qty-label {
    float: left;
    margin-right: 0 5px 0 14px;
}

.qty-icon {
    padding: 1px;
}

.qty-number{
    font-size: 14px;
    margin: 0 5px;
    float: left;
    width: 20px;
    height: 20px;
}

.qty-btns {
    float: left;
    border: none;
    height: 21px;
}

.delete-cart-item {
    text-align: right;
    width: 20%;
}

.close {
    float: right;
    text-decoration: none;
}

.place-order-btn{
    float: right;
    /* margin: 10px 0; */
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #2a6592;
    color: white;
    border: none;
    cursor: pointer;
}