header {
    background-color: #2a6592;
    color: #fff;
    padding: 2%;
    font-size: 28px;
    text-align: center;
    position: fixed;
    min-width: auto;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
}
.content {
    position: fixed;
    top: 85px;
    width: 98%;
}

.width-70 {
    width: 75%;
    border-right-style: groove;
    display: inline-block;
    float: left;
}

.item-card {
    background-color: #eee;
    max-width: 215px;
    min-wid
    width: 27%;
    height: 280px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 5px 7px 10px -6px rgba(0,0,0,0.25);
}

.item-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    height: 56%;
    width: 100%;
}

.item-content {
    padding: 0 7px;
}

.item-title {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 5px 0;
}

.qty-icon {
    padding: 1px;
}

.qty-number{
    font-size: 14px;
}

.order-btn {
    width: 100%;
    height: 30px;
    font-size: 16px;
    background-color: #1b926c;
    margin: 15px 0 2px 0;
    color: #fff;
    border: none;
}

.item-pend-card {
    overflow: hidden;
    background-color: #eee;
    margin: 2.5px 0;
    padding: 11px 5px;
}

.item-pend-title {
    font-size: 18px;
    float: left;
    width: 40%;
}

.item-pend-qty {
    float: left;
    width: 20%;
}

.item-pend-time {
    text-align: right;
    margin-right: 10px;
}

.item-pend-card {
    width: 100%;
    max-width: 225px;
}

h2 {
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.width-30 {
    width: 24%;
    display: inline-block;
}

.order-list {
    padding-left: 5%;
}

.order {
    width: 90%;
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
    margin: 5px 0;
}

.pend {
    background-color: #d9edf7;
}

.comp {
    background-color: #dff0d8;
}

.ordered-by{
    width: 35%;
    float: left;
}

.vertical-center-margin {
    margin: 37px 0;
}

.order-item {
    width: 20%;
    float: left;
    font-size: 20px;
}

.admin-pg-qty{
    width: 10%;
    float: left;
}

.time {
    width: 10%;
    float: left;
}

.status {
    width: 25%;
    float: left;
}

.usr-img {
    width: 100px;
    height: 100px;
    margin: 5px;
    float: left;
    border-radius: 50px;
    background-image: url("https://image.flaticon.com/icons/svg/17/17004.svg") ;
    background-size: cover;
}

.usr-details {
    margin: 30px 10px;
    float: left;
}

.username {
    font-size: 20px;
}

.status-btn {
    width: 73%;
    height: 30px;
    font-size: 17px;
    margin: 30px 0 2px 0;
    color: #fff;
    border: none;
}

.status-btn-pend {
    background-color: #31708f;
}

.status-btn-complete {
    background-color: #3c763d;
}
